<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.linuxspace.stockquotes">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:logo="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name="org.linuxspace.stockquotes.ExtendedApplication"
        android:theme="@style/AppTheme">

        <activity
            android:name=".view.cotroller.ActivityMain"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.cotroller.ActivityDetails"
            android:label="@string/title_activity_activity_details"></activity>
    </application>

</manifest>
